= simple_form_for :search, url: '#', method: :get, html: { id: "users_search_filter", class: 'mr-2' }, wrapper: :filter do |f|
  = f.simple_fields_for :filter do |k|
    = k.input :company, as: :select, collection: Company.ordered.map { |k| [k.to_s, k.to_s] }, label: false, include_blank: 'Select Company', input_html: { class: 'mb-3' }, selected: (params[:search][:filter].try(:[], :company) if params[:search].try(:[], :filter).present?)
