BUNDLE_APP_CONFIG=/bundle
BUNDLE_BIN=/bundle/bin
BUNDLE_BIN_PATH=/bundle/bin
BUNDLE_PATH=/bundle
GEM_HOME=/bundle
GEM_PATH=/bundle
MYSQL_ROOT_PASSWORD=some_random_password_here
RAILS_ENV=development

# This is used in rake db:seed to create the default user.
SEED_USER_FIRST_NAME=John
SEED_USER_LAST_NAME=Doe
SEED_USER_EMAIL=john.doe@gmail.com
SEED_USER_PASSWORD=some_password
SEED_USER_PASSWORD_CONFIRMATION=some_password
